extends layout

block content
  body 
  .images
  img(src="/images/cookies.jpg", alt="cookie")
  div
    .text
      p Hello you!

      p  A bit about us
      p  We are a group of four third-year university students majoring in computer science. As students we know the struggle to find easy dessert recipes that can be cooked using ingredients that you already have at home.Passionate about cooking and technology we created this website with the idea of simplifying your cooking experience using the incredible power of AI.

      p How it works
      p Our website enables you to take pictures of ingredients already at your disposal, to create yummy desserts.Using advanced machine learning algorithms and an important database, our system analyses these images and generates recipes.You no longer need to search through cookbooks or  websites for dessert ideas. JMRSweets takes care of it all for you.
      p Join us in this culinary adventure and discover exciting new was to cook from ingredients you have on hand.
      p Thank you for supporting us. Feel free to reach out if you have any questions, feedback or suggestions. We are here to make your cooking experience much easier and more fun. 

      p Bon appétit!
      p The JMRSweets Team. 






