extends layout

block content
  
    h1 Contact the site creators
    p To contact us, please send an email to:
    nav
      ul.contact
        li
          | Sarra Mejri - 
          a(href="mailto:sarra.mejri04@gmail.com") sarra.mejri04@gmail.com
        li
          | Jane Aziz - 
          a(href="mailto:janeaaziz190@gmail.com") janeaaziz190@gmail.com
        li
          | Maya Soufan - 
          a(href="mailto:maya.soufan03@gmail.com") maya.soufan03@gmail.com
        li
          | Roudy Karam - 
          a(href="mailto:roudyakaram@gmail.com") roudyakaram@gmail.com
