extends layout

block content
  h1 Welcome to JRMSweets

  div(id=formshape)
    form(action="/upload", method="POST", enctype="multipart/form-data", id="uploadForm")
      input(type="file", name="images", accept="image/*" multiple)
      br 
      br
      button(type="submit") Submit
      div(id="uploadMessage")
    br
    button(id="executeFruitsButton") Execute fruits.py and clear uploads

  // Ajoutez un élément HTML pour afficher la sortie du script Python
  p(id="helloResult")

  script(src="https://code.jquery.com/jquery-3.3.1.js") // Utilisez le lien CDN pour jQuery
  script(src="/javascripts/home.js")

