extends layout

block content
  h1 Welcome to JRMSweets

  div(id=formshape)
    form(action="/upload", method="POST", enctype="multipart/form-data", id="uploadForm")
      label(for="images") Choose your images below: 
      br
      br
      input(type="file", name="images", accept="image/*" multiple)
      br 
      br
      label(for="ingredients") Choose other ingredients : 
      br
      br
      input(type="checkbox" id="ingredient1" name="ingredients" value="baking powder") 
      label(for="ingredient1") Baking Powder
      br
      input(type="checkbox" id="ingredient2" name="ingredients" value="baking soda") 
      label(for="ingredient2") Baking Soda
      br
      input(type="checkbox" id="ingredient3" name="ingredients" value="vanilla") 
      label(for="ingredient3") Vanilla
      br
      input(type="checkbox" id="ingredient4" name="ingredients" value="sugar") 
      label(for="ingredient4") Sugar

      br
      br

      button(type="submit") Generate recipes
      div(id="uploadMessage")
    br
    br
    br
    button(id="generateRecipes" type='button') Generate Recipes

  p(id="helloResult")
  p(id="recipeResults")

  script(src="/jquery/jquery.min.js")
  script(src="/javascripts/home.js")
