doctype html
html
  head
    meta(charset="utf-8")
    title JRMSweets
    script(src="/node_modules/jquery/dist/jquery.min.js") // Incluez jQuery ici
    link(rel='stylesheet', href='stylesheets/style.css')
    header
      include header
    main
      block content
    footer
      include footer

