body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e76c8b;
  color: #d06cba;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px 20px;
}

.logo img {
  /*display: flex;
  margin-right: auto;*/
  width: 150px; /* Adjust the max-width according to your logo size */
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: center;
  margin-right:40px ;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 60px;
}

footer {
  background-color: #e76c8b;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.text {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 30px;
  
}